<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Shelter</title>

    <link rel = "stylesheet" href="/static/css/shelterView.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">

</head>

<body>
<h1>Java Junkie Pet Shelter </h1>

<div class="topnav">
    <a href="#Shelters">View Shelters <span th:text="${shelter}"></span> </a>
    <a href="/templates/PetView.html">View Pets</a>
</div>



<img id="petImage" src="https://media.istockphoto.com/id/1411763501/photo/banner-head-pets-cat-and-dog-hiding-isolated-on-blue-pastel-background.jpg?b=1&s=170667a&w=0&k=20&c=NhPsKS2YepUhbOxThF4ks7YsQ3HMrvEKQ444wAfRCyw=">


<div class="cats-and-dogs" id="pets">
    <section id="cats-and-dogs">
        <table class="petTable">
            <tr>
                <td>Type <span th:text="${type}"></span></td>
                <td>Name <span th:text="${petName}"></span> </td>
                <td>Happiness <span th:text="${happiness}"> </span></td>
                <td>Health <span th:text="${health}"> </span> </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Organic dog</td>
                <td> dog1 </td>
                <td> 5 </td>
                <td> 5 </td>
                <td><button type="button">Adopt<a th:href="@{/adopt/{petName}(id=${petName})}"></a> </button></td>
                <td><button type="button">Feed<a th:href="@{${'/feed/' + petName}}"> </a> </button></td>
            </tr>
            <tr>
                <td>Organic cat</td>
                <td> cat1 </td>
                <td> 5 </td>
                <td> 5 </td>
                <td><button type="button">Adopt<a th:href="@{/adopt/{petName}(id=${petName})}"></a> </button></td>
                <td><button type="button">Feed<a th:href="@{${'/feed/' + petName}}"> </a></button></td>
            </tr>
            <tr>
                <td>Robotic dog</td>
                <td> dog2 </td>
                <td> 5 </td>
                <td> 5 </td>
                <td><button type="button">Adopt<a th:href="@{/adopt/{petName}(id=${petName})}"></a> </button></td>
                <td><button type="button">oil<a th:href="@{${'/oil/' + petName}}"></a> </button></td>
            </tr>
            <tr>
                <td>Robotic cat</td>
                <td> cat2 </td>
                <td> 5 </td>
                <td> 5 </td>
                <td><button type="button">Adopt<a th:href="@{/adopt/{petName}(id=${petName})}"></a> </button></td>
                <td><button type="button">oil<a th:href="@{${'/oil/' + petName}}"></a> </button></td>
            </tr>
        </table>
    </section>
</div>


</body>
</html>