<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Shelter</title>
    <h1>Welcome to our Pet Shelter !</h1>
    <h2>Here is a list of all available pets :</h2>
</head>
<body>
    <p>Pet 1
        <br>Name, basic stats, <button type="button">adopt</button></p>
    <p>Pet 2
        <br>Name, basic stats, <button type="button">adopt</button></p>
    <p>Pet 3
        <br>Name, basic stats, <button type="button">adopt</button></p>
    <p>Pet 4
        <br>Name, basic stats, <button type="button">adopt</button></p>
</body>
</html>