<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Shelter</title>

    <link rel = "stylesheet" href="shelterView.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">

</head>

<body>
<h1>Java Junkie Pet Shelter </h1>

<div class="topnav">
    <a href="#Home">Home</a>
    <a href="#Adopt">Adopt</a>
    <a href="#PetView">Pet View</a>
</div>



<img id="pet" src="https://media.istockphoto.com/id/1411763501/photo/banner-head-pets-cat-and-dog-hiding-isolated-on-blue-pastel-background.jpg?b=1&s=170667a&w=0&k=20&c=NhPsKS2YepUhbOxThF4ks7YsQ3HMrvEKQ444wAfRCyw=">



<div class="cats-and-dogs" id="cats-and-dogs">
    <section id="dogs"> <br>Available Dogs</br>
    <br>Name</br>
    <br>Energy levels</br>
    <br>Hunger</br>
    <br> <button type="button">Adopt</button></br>
    </section>

<!--    <section id="cats"> <br>Available Cats</br>-->
<!--        <br>Name</br>-->
<!--        <br>Energy levels</br>-->
<!--        <br>Hunger</br>-->
<!--        <br> <button type="button">Adopt</button> </br>-->
<!--    </section>-->
</div>

</body>
</html>