h1{
    background-color: lightblue;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: 'Source Sans Pro';
    border:2px solid lightblue;
}


.topnav {
    overflow:hidden;
    color: white
}
.topnav a {
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
}
.topnav {
    background-color:royalblue;
    color: white;
}


/**#dogs{
    float: left;
    font-weight: bold;
    max-width: 300%
    height= 121px;

} **/

#cats{
    float: right;
    font-weight: bold;
    border-style: double;

  }

#pet{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 /** #cats-and-dogs{
    display: inline;
  } **/

  .cats-and-dogs{
    position: absolute;
    top: 45%;
    left: 43%;
    width: 13%;
    border: 3px solid blue;
    text-align: center;
  }

